<div class="btns-container">
    <%= form_tag suplementos_create_bitlink_path, data: suplemento[:store_code], method: :get, remote: true do %>
        <%= hidden_field_tag 'link', suplemento[:link] %>
        <%= hidden_field_tag 'suplemento', suplemento[:store_code] %>
        <%= text_field_tag :cupom,
            params[:cupom],
            class: "form-control",
            placeholder: "Editar cupom.."
        %> 
        <%= select :choice, 
            params[:choice],  
            ['lojacorpoperfeito', 'corpoidealsuplementos', 'boasaudesuplementos'], 
            { include_blank: "Escolher loja.." },  
            class: "form-control query" 
        %>
        <%= submit_tag "Create Link", class: "btn btn-danger" %>
    <% end %>
</div>
