//get button from requested link
var bitlyButton = document.getElementById(`<%= @suplemento[:store_code] %>`)
bitlyButton.innerHTML = `<input id="C<%= @suplemento[:store_code] %>" value="<%= @shorten_url %>">
                         <button id="C<%= @suplemento[:store_code] %>BTN" data-clipboard-target="#C<%= @suplemento[:store_code] %>">
                            Copy
                         </button>`

var btn = document.getElementById('C<%= @suplemento[:store_code] %>BTN');
new Clipboard(btn); 
