<div class="search">
    <%= form_tag suplementos_path, method: :get do %>
        <%= text_field_tag :name,
        params[:query],
        class: "form-control query",
        placeholder: "Procurar suplemento.."
        %>  
        <%= text_field_tag :store,
        params[:store],
        class: "form-control query",
        placeholder: "Procurar loja.."
        %>
        <%= text_field_tag :seller,
        params[:seller],
        class: "form-control query",
        placeholder: "Procurar mktplace.."
        %>
        <div class="checkbox">
            <p>Price Change</p>
            <%= check_box_tag 'changed', true %>
        </div>
        <div class="checkbox">
            <p>Shipping</p>
            <%= check_box_tag 'supershipping', true %>
        </div>
        <div class="checkbox">
            <p>Discount</p>
            <%= check_box_tag 'average', true %>
        </div>
    <%= submit_tag "Search", class: "button-opc" %>
    <% end %>
</div>    

</div>  
<div class="grids mt-2">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= link_to suplemento[:link] do %>
                <%
=begin%>
 <% if suplemento[:store][:photo].present? %>
                    <%= image_tag  suplemento[:store][:photo], class: 'store-logo' %>
                <% end %> 
<%
=end%>
                <div class="suple-seller mb-2">
                    <p><%= suplemento[:seller] %></p>
                </div>
                <div class="suple-img-container">
                    <% unless suplemento[:photo].nil? %>
                        <%= image_tag suplemento[:photo] %>
                    <% end %>
                </div>
                <hr>
                <div class="suple-info">
                    <div class="suple-name">
                        <%= suplemento[:name] %>
                        <hr>
                        <%= suplemento[:brand] %>
                    </div>
                    <p class="price"><%= (suplemento[:price][:fractional].to_f / 10000).to_d %><span class='coin'> R$</span></p>
                    <% if suplemento[:diff] && params[:average] %>
                        <p class="price discount"><%= suplemento[:diff] %><span class='coin'> %</span></p>
                    <% end %>
                </div>
                <span class='store-code'><%= suplemento[:store_code] %></span>
                <% if suplemento[:prime] == true %>
                    <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                <% end %>               
                <% if suplemento[:supershipping] == true %>
                    <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                <% end %>
                <%
=begin%>
 <p class="last-update"><%= "Last update: #{suplemento[:updated_at]}"%></p>
                <p class="last-update"><%= "Last update: #{suplemento[:promo]}"%></p> 
<%
=end%>
            <% end %>   
            <div class="btns-container">
                <%= button_tag "Copy Link", type: "button", class: "clipboard-btn btn btn-primary", data: {clipboard_action: "copy", clipboard_text: "#{suplemento[:link]}"} %> 

                <%= link_to "Create BitLy", suplementos_get_bitlink_path(suplemento: suplemento), remote:true, id: suplemento[:store_code], class:"bitlys" %>
            </div>
        </div>
    <% end %>
</div>

<div class="pagination">
    <% if @headers[:total_pages].to_i <= 15 %>
        <% (1..@headers[:total_pages].to_i).each do |page| %>
            <% if page == params[:page].to_i || (params[:page].nil? && page == 1) %>
                <%= link_to page, { supershipping: params[:supershipping], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name], page: page }, class: 'current' %>
            <% else %>
                <%= link_to page, {supershipping: params[:supershipping], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name], page: page } %>
            <% end %>
        <% end %>
    <% end %>
    <% if params[:page].present? %> 
        <%= link_to "Next >>", { supershipping: params[:supershipping], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name] , page: params[:page].to_i + 1 } %>
    <% else %>
        <%= link_to "Next >>", { supershipping: params[:supershipping], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name] , page: 2 } %>
    <% end %>
</div>