<%= render 'search_form' %>     

<div class="grids mt-2">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= link_to suplemento[:link] do %>
                <div class="suple-seller mb-2">
                    <h4><%= suplemento[:seller] %></h4>
                </div>
                <div class="suple-img-container">
                    <% unless suplemento[:photo].nil? %>
                        <%= image_tag suplemento[:photo] %>
                    <% end %>
                </div>
                <hr>
                <div class="suple-info">
                    <div class="suple-name">
                        <%= suplemento[:name] %>
                        <%= suplemento[:brand] %>
                    </div>
                    <p class="price"><%= (suplemento[:price][:fractional].to_f / 10000).to_d %><span class='coin'> R$</span></p>
                    <% if suplemento[:diff] && params[:average] %>
                        <p class="price discount"><%= suplemento[:diff] %><span class='coin'> %</span></p>
                    <% end %>
                </div>
                <% if suplemento[:promo] %>
                    <p class="suple-seller"><%= suplemento[:promo] %></p>
                <% end %> 
                <% if suplemento[:prime] == true %>
                    <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                <% end %>               
                <% if suplemento[:supershipping] == true %>
                    <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                <% end %>
            <% end %>   
            <%= render 'bitly_generator', suplemento: suplemento %>  
        </div>
    <% end %>
</div>

<div class="pagination">
    <% if @headers[:total_pages].to_i <= 15 %>
        <% (1..@headers[:total_pages].to_i).each do |page| %>
            <% if page == params[:page].to_i || (params[:page].nil? && page == 1) %>
                <%= link_to page, { supershipping: params[:supershipping], promo: params[:promo], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name], page: page }, class: 'current' %>
            <% else %>
                <%= link_to page, {supershipping: params[:supershipping], promo: params[:promo], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name], page: page } %>
            <% end %>
        <% end %>
    <% end %>
    <% if params[:page].present? %> 
        <%= link_to "Next >>", { supershipping: params[:supershipping], promo: params[:promo], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name] , page: params[:page].to_i + 1 } %>
    <% else %>
        <%= link_to "Next >>", { supershipping: params[:supershipping], promo: params[:promo], average: params[:average], changed: params[:changed], seller: params[:seller], store: params[:store], name: params[:name] , page: 2 } %>
    <% end %>
</div>
