<div class="search">
    <%= form_tag suplementos_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control query",
        placeholder: "Procurar suplemento.."
        %>
    <%= submit_tag "Search", class: "button-opc" %>
    <% end %>
</div>      
<div class="grids mt-2">
    <% @suplementos.each do |suplemento|%>
        <div class="suple-card">
            <%= link_to suplemento[:link] do %>
                <%
=begin%>
 <% if suplemento[:store][:photo].present? %>
                    <%= image_tag  suplemento[:store][:photo], class: 'store-logo' %>
                <% end %> 
<%
=end%>
                <div class="suple-seller mb-2">
                    <p><%= suplemento[:seller] %></p>
                </div>
                <div class="suple-img-container">
                    <% unless suplemento[:photo].nil? %>
                        <%= image_tag suplemento[:photo] %>
                    <% end %>
                </div>
                <hr>
                <div class="suple-info">
                    <div class="suple-name">
                        <%= suplemento[:name] %>
                        <hr>
                        <%= suplemento[:brand] %>
                    </div>
                    <p class="price"><%= (suplemento[:price][:fractional].to_f / 10000).to_d %><span class='coin'> R$</span></p>
                </div>
                <span class='store-code'><%= suplemento[:store_code] %></span>                
                <% if suplemento[:prime] == true %>
                    <%= image_tag  "amz-prime.png", class: 'amz-prime-logo' %>
                <% end %>               
                <% if suplemento[:supershipping] == true %>
                    <%= image_tag  "super-shipping.png", class: 'super-shipping' %>
                <% end %>
                <p class="last-update"><%= "Last update: #{suplemento[:updated_at]}"%></p>
            <% end %>
        </div>
    <% end %>
</div>

<div class="pagination">
    <% if @headers[:total_pages].to_i <= 15 %>
        <% (1..@headers[:total_pages].to_i).each do |page| %>
            <% if page == params[:page].to_i || (params[:page].nil? && page == 1) %>
                <%= link_to page, { query: params[:query], page: page }, class: 'current' %>
            <% else %>
                <%= link_to page, { query: params[:query], page: page } %>
            <% end %>
        <% end %>
    <% end %>
    <% if params[:page].present? %>
        <%= link_to "Next >>", { query: params[:query], page: params[:page].to_i + 1 } %>
    <% else %>
        <%= link_to "Next >>", { query: params[:query], page: 2 } %>
    <% end %>
</div>