<div class="grids mt-2">
    <% @suplementos.each do |suplemento|%>
    <div class="suple-card">
        <div class="suple-seller mb-2">
            <p><%= suplemento.seller %></p>
        </div>
        <div class="suple-img-container">
            <% unless suplemento.photo.nil? %>
                <%= image_tag suplemento.photo %>
            <% end %>
        </div>
        <hr>
        <div class="suple-info">
            <div class="suple-name">
                <p><%= suplemento.name %>
            </div>
            <p class="price"><%= suplemento.price / 10 %><span class='coin'> R$</span></p>
        </div>
    </div>
    <% end %>
</div>
<%= paginate @suplementos, class: "paginate" %>
